<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="PrintMode" value="MessageBox" />
    <add key="JSONSource1" value="http://api.currencylayer.com/live?access_key=ca2efa55a751808737f72d415f1ca387"/>
    <add key="JSONSource2" value="https://openexchangerates.org/api/latest.json?app_id=1de86dfd996b4c9da20c0b3fa6eefaa4&amp;base=USD"/>
  </appSettings>
</configuration>