<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      encoding="utf-8"
      autoReload="true">

  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" 
            name="fileLog" 
            fileName="${basedir}/../../App_Data/logs/${date:format=yyyy-MM}/${shortdate}.log" 
            encoding="utf-8"
            layout="${longdate} ${uppercase:${level}:padding=5:padCharacter= } || ${logger} : ${event-context:item=method} [${event-context:item=SessionId}][${event-context:item=RequestUrl}] ${newline} ${event-context:item=WebUser:padding=29:padCharacter= } :: ${message}${onexception:${when:when='${message}'=='':inner=:else= => }${exception:format=type,message,stacktrace,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:separator=&#13;&#10;                               !! }}${newline}"
    />

    <!-- write file asynchronously, so that it does not block the calling thread -->
    <wrapper-target xsi:type="AsyncWrapper" 
                    name="asyncFile">
      <target-ref name="fileLog" />
    </wrapper-target>

  </targets>

  <rules>
    <logger name="*" 
            minlevel="Trace" 
            writeTo="fileLog" />
  </rules>
</nlog>